apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  template:
    spec:
      containers:
        - name: flask
          env:
            - name: REDIS_HOST
              value: 'prod-redis'
